:root{
  --red: #f54e4e;
  --green: #4aec8c;
  --blue: #4e9ef5;
}

body{
  background-color: #30384b;
  color: #eee;
}
main{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

label{
  display:block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}
